<header id="header1">
  <a id="pa1" href="/"><h1>Study Guied</h1></a>      
   <div class="login-container">
     <a id="a2" href="/auth/google" type="button" class="btn  me-2"><img  id="img2" src="/pics/white.png" alt="Login Icon" ></a>
     <span class="tooltip">Login as Admin</span>
 </div>
</header>