<header id="header1">
    <a id="pa1" href="/"><h1>Study Guied</h1></a>
    
     <div class="login-container">
       <a id="a2" href="/logout"><img  id="img2" src="/pics/white.png" alt="Login Icon" ></a>
       <span class="tooltip">Log Out</span>
   </div>
 </header>